﻿@model IEnumerable<DailyBasket.Franchisee.Areas.Stock.Models.ViewModels.StockProductViewModel>

@{
    ViewBag.Title = "ExpiryWiseProductStock";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}
<section class="content-header text-center">
    <h1>Expriry DateWise Product Stock</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="SaleProduct" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Product Name</th>
                                <th>Available Stock</th>
                                <th>Expiry Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                                        {
                                            var index = 1;
                                            foreach (var Sale in Model)
                                            {
                                    <tr>
                                        <td>@(index++) </td>
                                        <td>@Sale.ProductName</td>
                                        <td>@Sale.Quantity </td>
                                        <td>@Sale.ExpiryDate</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6"><label class="text-danger">No Record Found</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>