﻿<li class="treeview">
        <a href="#">
            <i class="fa fa-table"></i> <span>Franchisee Customers</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("", "", new { Area = "" })"><i class="fa fa-circle-o"></i> Customers</a></li>
        </ul>
       
    </li>
  
    <li class="treeview">
        <a href="#">
            <i class="fa fa-table"></i> <span>Purchase Entry</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("AddPurchaseProductOrder", "PurchaseOrder", new { Area = "Purchase" })"><i class="fa fa-circle-o"></i> New Entry</a></li>
            <li><a href="@Url.Action("MyPurchaseOrders", "PurchaseOrder", new { Area = "Purchase" })"><i class="fa fa-circle-o"></i> My Orders</a></li>
        </ul>
        <ul class="treeview-menu">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Purchase History</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("DeliveredOrders", "PurchaseOrder", new { Area = "Purchase" })"><i class="fa fa-circle-o"></i> Received</a></li>
                    <li><a href="@Url.Action("CancelledOrders", "PurchaseOrder", new { Area = "Purchase" })"><i class="fa fa-circle-o"></i> Cancelled</a></li>
                </ul>
            </li>
           
        </ul>
    </li>
   <li class="treeview">
    <a href="#">
        <i class="fa fa-table"></i> <span>Stock</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("AvailableStocks", "StockProduct", new { Area = "Stock" })"><i class="fa fa-circle-o"></i> Products Stock</a></li>
        <li><a href="@Url.Action("BatchWiseProductStock", "StockProduct", new { Area = "Stock" })"><i class="fa fa-circle-o"></i> Batchwise Product Stock</a></li>
    </ul>
</li>
   <li class="treeview">
    <a href="#">
        <i class="fa fa-table"></i> <span>Customer Orders</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("InProcessOrders", "CustomerOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Pending Orders</a></li>
        <li><a href="@Url.Action("ReadyToDispatchOrders", "CustomerOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Ready to Dispatch</a></li>
        <li><a href="@Url.Action("DispatchedOrders", "CustomerOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Dispatched</a></li>
        <li><a href="@Url.Action("DeliveredOrders", "CustomerOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Delivered</a></li>
        <li><a href="@Url.Action("CancelledOrders", "CustomerOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Cancelled</a></li>
    </ul>
</li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-table"></i> <span>Reports</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Purchase", "Purchase", new { Area = "Reports" })"><i class="fa fa-circle-o"></i> Purchase Report</a></li>
            <li><a href="@Url.Action("Sales", "Sale", new { Area = "Reports" })"><i class="fa fa-circle-o"></i> Sales Report</a></li>
            <li><a href="@Url.Action("Stock", "Stock", new { Area = "Reports" })"><i class="fa fa-circle-o"></i> Stock Report</a></li>
        </ul>
    </li>