﻿ul.ui-autocomplete {
    list-style: none;
    list-style-type: none;
    padding: 2px 5px;
    margin: 0px;
    border: 1px solid #999; 
    background: #FFF; overflow: auto;
    width:200px;
    position:relative;
}

ul.ui-autocomplete:hover {
    cursor:pointer;
}

.hide-form-field{
    display:none;
}

.price-checkbox {
        text-align: center;
}

.small-box-footer{
    cursor:pointer;
}

/* Tab CSS Code */
.tab {
		overflow: hidden;
		border: 1px solid #ccc;
		background-color: #f1f1f1;
	}
	.tab a {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 3px 15px;
		transition: 0.3s;
		font-size: 17px;
		color:black;
		font-weight:600;
		width:50%;
		text-align: center;
	}
	.tab a:hover {
		background-color: #ddd;
	}
	.tab a.active {
		background-color: #3c8dbc;
		color:white;
	}
	.tabcontent {
		display: none;
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-top: none;
	}
	.topright {
		float: right;
		cursor: pointer;
		font-size: 20px;
	}
	.topright:hover {color: red;}
