﻿@using DailyBasket.Franchisee.Core.Model.Report.Purchase
    
@{
    DateWisePurchaseModel dateWisePurchaseModel = ViewData["viewModel"] as DateWisePurchaseModel;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/bundles/css/bootstrap")
</head>
<body>
    @if (dateWisePurchaseModel != null)
    {
        <h3 style="text-align:center">DateWise Purchase Report</h3>
        <section class="content-header text-center">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th colspan="6" class="text-center">
                            <img src="http://www.dailybaskets.co.in/assets/website/img/db-logo.png" height="40%" width="100%" />
                        </th>
                        <td colspan="4" class="text-center">
                          
                            <h5>
                                @dateWisePurchaseModel.FranchiseeName
                            </h5>
                            <h6>
                                @dateWisePurchaseModel.Address, @dateWisePurchaseModel.City, @dateWisePurchaseModel.State<br />
                                GST NO: @dateWisePurchaseModel.GSTIN,
                                CONTACT:+91 @dateWisePurchaseModel.Mobile
                            </h6>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

    <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">

                            <table id="example2"  border="1" class="table table-bordered table-hover">
                                <thead>
                                    <tr font size="2" color="#154360">
                                        <bold>
                                            <th width="2%">Sr.No.</th>
                                            <th width="4%">Bill&nbsp;Date</th> 
                                            <th width="4%">Bill&nbsp;Amount</th>
                                        </bold>
                                    </tr>

                                </thead>

                                <tbody>
                                    @{
                                        var index = 1;
                                        foreach (var purchasebill in dateWisePurchaseModel.dateWPRModel)
                                        {
                                            <tr font size="1">
                                                <td>@(index++)</td>
                                                <td>@purchasebill.Bill_Date</td>
                                                <td>@purchasebill.Total_Bill_Amount</td>
                                            </tr>
                                         }
                                    }
                                   

                                </tbody>

                            </table>
                            <table id="example2"  border="1" class="table table-bordered table-hover">
                                <thead>
                                </thead>
                                <tbody>
                                    @{
                                        double grandTotal = 0;
                                        foreach (var item in dateWisePurchaseModel.dateWPRModel)
                                        {
                                            grandTotal += item.Total_Bill_Amount;
                                        }
                                        <tr font size="2" color="#154360">
                                            <td colspan="3" width="50%" class="text-center">Grand Total :@grandTotal</td>
                                        </tr>
                                    }
                                </tbody>
                                </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
                                        }
    @Scripts.Render("~/bundles/script/bootstrap")
</body>
</html>
