﻿@using DailyBasket.Franchisee.Core.Model.Report.Sales
@{
   ProductWiseSalesModel Model = ViewData["viewModel"] as ProductWiseSalesModel;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/bundles/css/bootstrap")
</head>
<body>
    @if (Model != null)
    {
        <h3 style="text-align:center">ProductWise Sales Report</h3>
        <section class="content-header text-center">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th colspan="6" class="text-center">
                            <img src="http://www.dailybaskets.co.in/assets/website/img/db-logo.png" height="40%" width="100%" />
                        </th>
                        <td colspan="4" class="text-center">
                            <h5>
                                @Model.FranchiseeName
                            </h5>
                            <h6>
                                @Model.Address, @Model.City, @Model.State<br />
                                GST NO: @Model.GSTIN,
                                CONTACT:+91 @Model.Mobile
                            </h6>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">

                            <table id="example2" border="1" class="table table-bordered table-hover">
                                <thead>
                                    <tr font size="2" color="#154360">
                                        <bold>
                                            <th width="5%">Sr.No.</th>
                                            <th width="6%">Order Id </th>
                                            <th width="8%">Batch No</th>
                                            <th width="10%">Product Name</th>
                                            <th width="10%">Order Date</th>
                                            <th>Customer Name</th>
                                            <th width="12%">Mobile</th>
                                            <th width="10%">Quantity</th>
                                            <th width="10%">MRP</th>
                                            <th width="10%">Sale Rate</th>
                                            <th width="12%">GST Amount</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var index = 1;
                                        foreach (var product in Model.productWSRModel)
                                        {
                                            <tr font size="1">
                                                <td>@(index++)</td>
                                                <td>@product.corder_id</td>
                                                <td>@product.batch_no</td>
                                                <td>@product.prod_name</td>
                                                <td>@product.order_date</td>
                                                <td>@product.first_name
                                                    @product.middle_name
                                                    @product.last_name</td>
                                                <td>@product.mobile</td>
                                                <td>@product.quantity</td>
                                                <td>@product.mrp</td>
                                                <td>@product.sale_rate</td>
                                                <td>@product.gst_amount</td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
                                        }
    @*@Scripts.Render("~/bundles/script/bootstrap")*@
</body>
</html>

@Scripts.Render("~/bundles/script/async/productmaster/product-autopopulate-list-with-jquery")
@*<script>
    debugger;
    var jsonProductList = @Html.Raw(Json.Encode(@ViewBag.ProductDdlList));
</script>*@