﻿@model  DailyBasket.Franchisee.Core.Model.Purchase.POProductModel 
@*@model IEnumerable<DailyBasket.Franchisee.Core.Model.Purchase.POProductModel>*@
@{
    ViewBag.Title = "Add Purchase Product Order";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
    HttpCookie poCookie = null;
    if (HttpContext.Current.Request.Cookies["PurchaseOrderCookie"] != null)
    {
        poCookie = HttpContext.Current.Request.Cookies["PurchaseOrderCookie"];
    }
}

<section class="content-header text-center">
    <h1>Add Purchase Product Order</h1>
</section>
<!-- / Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill No.</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>0001</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill Date</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@DateTime.Now.ToString()</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Vender Name</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label>DailyBasket Warehouse</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-lg-12 text-center">
                            <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                        </div>
                    }
                    @using (Html.BeginForm("AddPurchaseProduct", "PurchaseOrder", FormMethod.Post, htmlAttributes: new { @onsubmit = "return validatePop()" }))
                    {
                        @Html.AntiForgeryToken()
                        @*@Html.Hidden("PurchaseOrderId", TempData["PoId"].ToString())*@
                        @Html.HiddenFor(model => model.Id)
                        @*@Html.Hidden("PurchaseOrderId", poModelCookie["PoId"].ToString())
                            @Html.Hidden("SubmitType", "Temperary")*@
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="form-group">

                                    @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label" })

                                    @Html.TextBox("SelectProductId", null, htmlAttributes: new { @class = "form-control", @required = true, @placeholder = "Select Product Name" })
                                    @Html.DropDownListFor(model => model.ProductId, ViewBag.ProductDdlList != null ? ViewBag.ProductDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Product Name", htmlAttributes: new { @class = "form-control hide-form-field" })
                                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "Enter Product Quantity", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <br />
                            <input type="submit" name="submit" id="submit" value="Add Product" class="btn btn-block btn-primary btn-success" />
                        </div>
                        @*<div class="col-md-2">
                            <br />
                            <input type="submit" name="submit" id="submit" value="Submit Order" class="btn btn-block btn-primary btn-success" />
                        </div>*@
                        <div class="clearfix"></div>
                        <hr />
                    }

                    <section class="content" >
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-body">
                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Sr. No</th>
                                                    <th>Product Name</th>
                                                    <th>Quantity</th>
                                                    <th>Remove</th>
                                                </tr>
                                            </thead>
                                            <tbody id="reloadsection">
                                               @if(Model.POPProductList != null && Model.POPProductList.Any())
                                               {

                                                   var index = 1;
                                                   foreach (var poprodDetails in Model.POPProductList)
                                                   {
                                                        <tr>
                                                            <td>@(index++)</td>
                                                            <td>@poprodDetails.ProdName </td>
                                                            <td>@poprodDetails.Quantity </td>
                                                            <td><a href="@Url.Action("DeletePurchaseProduct", "PurchaseOrder", new { Area ="Purchase", poId = @poprodDetails.PoId, @prodId = @poprodDetails.ProdId })" class="fa fa-trash-o btn-xs btn-danger" onclick="return confirm('Are you sure you want to delete this item?');" title="Delete" id="deleteProduct"></a></td>
                                                        </tr>
                                                   }
                                               }
                                               else
                                               {
                                                    <tr>
                                                        <td colspan="4"><label class="text-danger">No Record Found</label></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                            @using (Html.BeginForm("AddPurchaseProductOrder", "PurchaseOrder", FormMethod.Post))
                                            {
                                                if (Model.POPProductList != null && Model.POPProductList.Any())
                                                {
                                                    @Html.Hidden("poId", TempData["poId"])
                                                    <br/>
                                                    <div class="col-md-2 pull-right">
                                                        <input type="submit" name="submit" id="submit" value="Submit Order" class="btn btn-block btn-primary btn-success" />
                                                    </div>
                                                }
                                            }
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
@Scripts.Render("~/bundles/script/async/productmaster/product-autopopulate-list-with-jquery")
@Scripts.Render("~/bundles/script/async/purchase/pop-delete-validation-form")
<script>
    var jsonProductList = @Html.Raw(Json.Encode(@ViewBag.ProductDdlList));
</script>