﻿@model DailyBasket.Franchisee.Core.Model.Purchase.POProductModel
@using DailyBasket.Franchisee.Core.Enum;
@{
    ViewBag.Title = "FranchiseeOrder";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center">
    <h1><label>@ViewBag.PageTitle</label></h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-2 pull-right">
            @Html.Hidden("OrderStatus", (uint)Model.Status)
            @*<button id="printorder" class="btn btn-sm btn-block alert-info">Print</button>*@
        </div>

        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    @if (Model != null)
                    {
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2" class="text-center">Franchisee&nbsp;Details</th>
                                    <th colspan="2" class="text-center">Order&nbsp;Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Vendor&nbsp;Name</th>
                                    <td>@Model.VendorName</td>
                                    <th class="seperator-left">Order&nbsp;Id / Refer. Order Id</th>
                                    <td class="seperator-right">@Model.BillNo/  @Model.Id</td>
                                </tr>
                                <tr>
                                    <th class="seperator-left">Order&nbsp;Date</th>
                                    <td class="seperator-right">@Model.OrderDate</td>
                                    <th class="seperator-left">Order&nbsp;Amount</th>
                                    <td class="seperator-right"><i class="fa fa-inr"></i> @Model.TotalBillAmount</td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    <div class="clearfix"></div>
                    <hr />
                    <br />
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-lg-12 text-center">
                            <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                        </div>
                    }


                    @using (Html.BeginForm("ChangeCurrentOrderStatus", "FranchiseeOrders", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.BillNo)

                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Sr.No.</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>MRP</th>
                                    <th>Purchase Rate</th>
                                    <th>Total Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.POPProductList.Any() || Model.POPProductList.Count > 0)
                                {
                                    var index = 1;
                                    foreach (var Order in Model.POPProductList)
                                    {
                                        <tr>
                                            <td>@(index++)</td>
                                            <td>@Order.ProdName</td>
                                            <td>@Order.Quantity</td>
                                            <td><i class="fa fa-inr"></i> @Order.MRP</td>
                                            <td><i class="fa fa-inr"></i> @Order.Price</td>
                                            <td><i class="fa fa-inr"></i> @Order.TotalAmount</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6"><label class="text-danger">No Record Found</label></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    <br />
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@Scripts.Render("~/bundles/script/sale/print-customer-orders")




