﻿@model IEnumerable<DailyBasket.Franchisee.Core.Model.Purchase.POProductModel>
@{
    ViewBag.Title = "GetPurchaseOrdersList";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}


<section class="content-header text-center">
    <h1>View Purchase Orders</h1>
</section>
<!-- / Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- Main content -->
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-body">
                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Sr.No.</th>
                                                    <th>Bill No</th>
                                                    <th>Vendor Name</th>
                                                    <th>OrderDate</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null && Model.Any())
                                                {
                                                    var index = 1;
                                                    foreach (var PODetails in Model)
                                                    {

                                                        <tr>
                                                            <td>@(index++)</td>
                                                            <td>@PODetails.BillNo</td>
                                                            <td>@PODetails.VendorName</td>
                                                            <td>@PODetails.OrderDate</td>
                                                            <td class="text-center fontset">
                                                                <a href="@Url.Action("PurchaseOrderDetails", "PurchaseOrder", new { Area ="Purchase", poId = PODetails.BillNo})" class="fa fa-eye btn-xs btn-info" title="View"></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="8"><label class="text-danger">No Record Found</label></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
