﻿@model DailyBasket.Franchisee.Core.Model.Purchase.POProductModel
@{
    ViewBag.Title = "GetPurchaseOrdersList";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}


<section class="content-header text-center">
    <h1>Purchase Order Details</h1>
</section>


<!-- / Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill No.</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.DisplayFor(model => model.BillNo)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Order Date</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.DisplayFor(model => model.OrderDate)
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Vender Name</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                           @Html.DisplayFor(model => model.VendorName)
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <!-- Main content -->
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-body">
                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Sr.No.</th>
                                                    <th>Product Name</th>
                                                    <th>Quantity</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.POPProductList != null && Model.POPProductList.Any())
                                                {
                                                    var index = 1;
                                                    foreach (var PODetails in Model.POPProductList)
                                                    {

                                                        <tr>
                                                            <td>@(index++)</td>
                                                            <td>@PODetails.ProdName</td>
                                                            <td>@PODetails.Quantity</td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="8"><label class="text-danger">No Record Found</label></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
