﻿@model DailyBasket.Franchisee.Areas.Sale.Models.ViewModels.CustomerOrdersViewModels
@using DailyBasket.Franchisee.Core.Enum;
@{
    ViewBag.Title = "Customer Order";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}
<section class="content-header text-center">
    <h1><label>@ViewBag.PageTitle</label></h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-2 pull-right">
            @Html.Hidden("OrderStatus", (uint)Model.Status)
            <button id="printorder" class="btn btn-sm btn-block alert-info">Print</button>
        </div>

        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    @if (Model != null)
                    {
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2" class="text-center">Customer&nbsp;Details</th>
                                    <th colspan="2" class="text-center">Order&nbsp;Details</th>
                                    <th colspan="2" class="text-center">Payment&nbsp;Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Customer&nbsp;Name</th>
                                    <td>@Model.FirstName @Model.MiddleName @Model.LastName</td>
                                    <th class="seperator-left">Order&nbsp;Id</th>
                                    <td class="seperator-right">@Model.Id</td>
                                    <th>Payment&nbsp;Mode</th>
                                    <td>@Model.PaymentMode @(Model.CodPaymentMode.Equals(CashOnDeliveryPaymentMode.NA.ToString()) ? "" : "(" + Model.CodPaymentMode + ")")</td>
                                </tr>
                                <tr>
                                    <th>Mobile&nbsp;No.</th>
                                    <td>@Model.Mobile</td>
                                    <th class="seperator-left">Order&nbsp;Date</th>
                                    <td class="seperator-right">@Model.OrderDate</td>
                                    <th>Transaction&nbsp;Id</th>
                                    <td>@Model.TransactionId</td>
                                </tr>
                                <tr>
                                    <th>Email&nbsp;Id</th>
                                    <td>@Model.Email</td>
                                    <th class="seperator-left">Order&nbsp;Amount</th>
                                    <td class="seperator-right"><i class="fa fa-inr"></i> @Model.OrderAmount</td>
                                    <th>Payment&nbsp;Status</th>
                                    <td>@Model.OrderPaymentStatus</td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td colspan="5">
                                        @Model.Locality, @Model.Address, @Model.City
                                    </td>
                                </tr>
                                <tr>
                                    <th>Customer GST No</th>
                                    <td colspan="5">
                                        @Model.GstNo
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    <div class="clearfix"></div>
                    <hr />
                    <br />
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-lg-12 text-center">
                            <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                        </div>
                    }


                    @using (Html.BeginForm((string)ViewBag.Url, "CustomerOrders", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        if (Model.Status != OrderStatus.Delivered & Model.Status != OrderStatus.Cancelled)
                        {
                            if (ViewBag.CodPaymentModeList != null)
                            {
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.DropDownList("CodPaymentMode", ViewBag.CodPaymentModeList as SelectList, "Select COD Payment Mode", htmlAttributes: new { @class = "form-control", @required = true, @validatefor = "select" })
                                    </div>
                                </div>
                            }
                            <div class="col-sm-12">
                                <div class="col-sm-3 col-sm-offset-7">
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.OrderStatusId, ViewBag.OrderStatusDdlList != null ? ViewBag.OrderStatusDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Change Order Status", htmlAttributes: new { @class = "form-control", @required = true, @validatefor = "select" })
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <input type="submit" value="Change" class="btn btn-block btn-primary btn-primary" />
                                </div>
                            </div>
                        }

                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Sr.No.</th>
                                    <th>Barcode</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>MRP</th>
                                    <th>Sale Rate</th>
                                    <th>Total Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    var index = 1;
                                    foreach (var Order in Model.customersOrders)
                                    {
                                        <tr>
                                            <td>@(index++)</td>
                                            <td>@Order.Barcode</td>
                                            <td>@Order.ProductName</td>
                                            <td>@Order.Quantity</td>
                                            <td><i class="fa fa-inr"></i> @Order.Mrp</td>
                                            <td><i class="fa fa-inr"></i> @Order.Sale_Rate</td>
                                            <td><i class="fa fa-inr"></i> @Order.TotalAmount</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6"><label class="text-danger">No Record Found</label></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    <br />
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@Scripts.Render("~/bundles/script/sale/print-customer-orders")